<%- include("includes/head.ejs", {title: "E-pengaduan"}) %>
<link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include("includes/header.ejs") %>
    <main>
        <div id="main-landing">
            <section id="main-landing-content"> 
                <p id="main-landing-content-attribute">Submit Now - <span>Resolve Issues!</span></p>  
                <h1>Speak Out Today!</h1>
                <p id="main-landing-content-text">platform online yang memungkinkan warga untuk 
                    melaporkan masalah atau keluhan kepada 
                    pemerintah secara online!</p>
                <ul id="main-landing-button">
                    <li><a href="" class="btn">Report Now</a></li>
                    <li><a href="" class="reverse-btn">View Report</a></li>
                </ul>
            </section>
        </div>
        <div id="impact">
            <h2>Our Impact</h2>
            <ul id="impact-list">
                <li class="impact-list-item">
                    <h3>25000</h3>
                    <p>Reports Sent</p>
                </li>
                <li class="impact-list-item">
                    <h3>100</h3>
                    <p>Issues Resolved</p>
                </li>
                <li class="impact-list-item">
                    <h3>75</h3>
                    <p>Total Users</p>
                </li>
            </ul>
        </div>
        <div id="aduan-terbaru">
            <h2>Aduan Terbaru</h2>
            <ul id="aduan-terbaru-list">
                <li id="aduan-terbaru-list-item"></li>
                <li id="aduan-terbaru-list-item"></li>
                <li id="aduan-terbaru-list-item"></li>
                <li id="aduan-terbaru-list-item"></li>
                <li id="aduan-terbaru-list-item"></li>
                <li id="aduan-terbaru-list-item"></li>
            </ul>
            <a href="" class="link-btn">View More..</a>
        </div>
    </main>
    <%- include("includes/footer.ejs") %>
  </body>
</html>