<header>
  <p><a href="" id="logo">E-Pengaduan</a></p>
  <ul id="nav-list">
    <li><a href="" class="nav-list-item">Home</a></li>
    <li><a href="" class="nav-list-item">Pengaduan</a></li>
    <li><a href="" class="nav-list-item">Tentang kami</a></li>
    <li>
      <ul id="header-btn">
        <li><a href="" class="btn">Log out</a></li>
        <li><a href="" class="btn">Sign Up</a></li>
      </ul>
    </li>
  </ul>
  <div class="container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</header>
